.create_area{
    display:flex;
    justify-content:center;
    margin-bottom:50px;
}
h2{
    text-align:center;
}
form{
    border:1px solid black;
    border-radius:8px;
    padding:20px;
    background-color:rgb(110, 107, 107);
}
input{
    display:block;
    width:300px;
    padding:8px 10px;
    border-radius:8px;
    outline:none;
    font-size:20px;
    border:none;
}
label{
    font-size:20px;
    font-weight:bold;
    margin:5px 0px;
    display:inline-block;
    color:white;
}
button{
    margin-top:15px;
    background-color:aquamarine;
}